.sub-header h1 {
    position: relative;
    top: -50px;
}

.sub-header nav {
    position: relative;
    top: -50px;
}

.qoshimcha-logotip {
    position: relative;
    top: -50px;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
}

.fa-qoshimcha {
    position: relative;
    left: -10px;
    top: -10px;
}

@media(max-width:700px) {
    .qoshimcha-logotip {
        position: relative;
        font-size: 30px;
        left: -35px;
        top: -60px;
    }

    .fa-qoshimcha {
        position: relative;
        top: -1px;
    }
    .fa-bars {
        position: relative;
        top: -2px;
    }
}